<ion-header>
  <ion-toolbar color="red">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information?.Genre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="goldy" padding>

  <ion-card color="blu" *ngIf="information">
    <ion-card-header>
      <ion-card-title>
        {{ information.Title }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ information.Year }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <img [src]="information.Poster" class="info-img">
      <ion-item color="blu">
        {{ information.Plot }}
      </ion-item>

      <ion-item color="blu" lines="none">
        <ion-icon color="goldy" name="star-half" slot="start"></ion-icon>
        <ion-label>{{ information.imdbRating }}</ion-label>
      </ion-item>

      <ion-item color="blu" lines="none">
        <ion-icon color="goldy" name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Director }}</ion-label>
      </ion-item>

      <ion-item color="blu" lines="none">
        <ion-icon color="goldy" name="people-outline" slot="start"></ion-icon>
        <ion-label text-wrap>{{ information.Actors }}</ion-label>
      </ion-item>






      <ion-item color="blu">
        <ion-label>Disponibilidad</ion-label>
        <ion-toggle slot="end" color="light" (ionChange)="showNote()"></ion-toggle>
      </ion-item>

      <ion-card color="blu">
        <ion-item color="blu">

          <ion-card-content id="notas" *ngIf="showNotas" slot="start">
            <ion-label>
              Cartelera no Disponible.
            </ion-label>

            <ion-item color="blu" lines="none">
              <ion-icon color="goldy" name="logo-apple-appstore" slot="start"></ion-icon>
              <ion-label text-wrap>Disponible en AppStore</ion-label>
            </ion-item>

            <ion-item color="blu" lines="none">
              <ion-icon color="goldy" name="logo-google-playstore" slot="start"></ion-icon>
              <ion-label text-wrap>Disponible en PlayStore</ion-label>
            </ion-item>



            <ion-item color="blu" lines="none">
              <ion-icon color="goldy" name="book-outline" slot="start"></ion-icon>
              <ion-label text-wrap> Genera PDF de la pelicula </ion-label>
              <ion-button color="warning" (click)="generatepdf()">
                <ion-icon color="dark" name="cloud-download-outline"></ion-icon>
              </ion-button>
            </ion-item>

          </ion-card-content>

        </ion-item>
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>